*{
    margin: 0;
    padding: 0;
}
.nav img{
       width: 100px;
    
}

.main{
    background-color:#C9C9B6;
    height:1800px;
    display: flex;
    position: relative;
}
.container{
    /* margin-top: 20px; */
    background-color: #9F9F8F;
    height: 1750px;
    width: 400px;
     position: absolute;
     left: 300px;
     top: 50px;
    margin-left:250px;
}
.main2 img{
    background-color: aquamarine;
    height: 500px;
    position:absolute ;
    left: 100px;
    top: 100px;

}
.main-3{
    display: flex;
}
.main3{
    width:250px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid white;
    position: relative;
    top: 450px;
    left:80px;
}
h2{
    margin-left: 20px;
    margin-top: 100px;
    color: #93918a;
    font-size: xx-large;
}
p{
    /* width: 150px; */
    height: 200px;
    padding-top: 20px;
    margin-left: 30px;
    color: #93918a;
    font-size: x-large;
    /* display: inline-block; */
}
 a {
     margin-left: 30px;
    color: #93918a;
    font-size: x-large;
}
a:hover{
    text-decoration: underline black;
}
.main3 img{
    height:80px;
    margin-top: -100px;
    margin-left: -100px;
}
.box2{
    width:250px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid white;
    position: relative;
    top: 450px;
    left:100px;
}
.box2 img{
    height:80px;
    margin-top: -100px;
    margin-left: -100px;
}
.box3{
    width:250px;
    height: 500px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid white;
    position: relative;
    top: 450px;
    left:125px;
}
.box3 img{
    height:80px;
    margin-top: -100px;
    margin-left: -100px;
}


@media screen and (max-width:820px){
    .main{
        width: 1500px;
    }
    .main-3{
        flex-direction: column;
        align-items: center;
        position: relative;
        left: -80px;
        top: -180px;
        /* justify-content: space-around; */


    }
    .box2{
        margin-top: 15px;
    }
    .box3{
        position: absolute;
        left: 100px;
         top: 1480px; 
    }
    .main3{
        position: relative;
        left: 100px;
    }
    
    #imgs{
        height: 200px;
    position:absolute ;
    left: 10px;
    top: 100px;
    }
    .container{
        /* height: 300px; */
        position:absolute;
        left: -50px;
    }
}

